@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    background-color: #E3D8B7;
}

.Encabezado{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', sans-serif;
    width: 100%;
    height: 200px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
}

.Encabezado h1{ 
    font-size: 70px;
}

.Encabezado p{
    font-size: 20px;
    margin-left: 50px;
}


.card{
    height: 100%;
    background: transparent;
    box-shadow:0px 0px 5px 0px #000;
}

.card h2{
    font-family: 'Bebas Neue', sans-serif;
}

.fila1{
    margin-top: 30px;
}

.img-cuadro{
    height: 150px;
}

.btn{
    background-color:#D1BB91;;
}
button:hover{
    background-color:#A18167;;
}

.btn a{
    text-decoration: none;
    color: black;
}