body{
    height: 100vh;
    background-color: darkseagreen;
    box-shadow: 0px 0px 5px 1px black;
}

.container{
    box-shadow: 0px 0px 5px 1px black;
}

.ParteDatos{
    background-color: aliceblue;
}

button{
    margin-top: 5px;
}

#Errores{
    color: red;
}

