.Fondo-M{
    background-image: url(img/estampados-primavera.avif);
    color: white;
}

.Fondo-H{
    background-image: url(img/textured-vector.jpg);
}

.Cuadro-Nombre{
    background-color: transparent;
    backdrop-filter: blur(20px);
    height: 100vh;
    width: 900px;
    align-items: center;

}